.logo_name
{
    position: absolute;
    top: -8px;
    left: 7px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #eb2929;
    cursor: pointer;
}
.logo {
    
    padding: 5px;
    position: absolute;
    top: -1px;
    left: 125px;
    width: 45px;
    height: 45px;
    z-index: 1;
    background-color: whitesmoke;
  }
#two
{
    background-color: red;
    height: 45px;
    position: relative;
    top: 0px;
}
.three
{
    background-color: transparent;
    color: white;
    height: 40px;
    text-align: right;
    margin: auto;
    padding: 2px;
    width: 80%;
    border: 2px solid transparent;
    
    
}
.new1
{
    background-color: transparent;
    border:  solid 1px;
    color: white;
    padding: 3px;
    border: none;
    cursor: pointer;
    position: relative;
    left: -5px;
}

.new2
{
    background-color: transparent;
    color: white;
    padding: 4px;
    border: solid 1px;
    cursor: pointer;
}

.box_1
{
    width: 80%;
}

.box_2
{
    width: 80%;
}

.btn_1
{
    border: solid 1px lightslategray;
    background-color: blue;
    color: whitesmoke;
}

.btn_2
{
    border: solid 1px black;
}

